.body{
    font-family: "poppins", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.nav-flex{
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content:space-around;
}
.nav-flex a{
    text-decoration: none;
}
.nav-flex a:hover{
    border-top: 2px solid blue;
    color: blue;
    padding-top: 30px;


}
.dream-vacation{
     
}
.downtown{
    color: rgb(80, 79, 79);

}
.activities{
    margin-left: 100px;
}

.search-bar{
    display:flex;
    align-items: center;
    
   
}
.search-icon{
    display: flex;
    background-color: rgb(232, 233, 234);
    height:38px;
    width: 38px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;

}
.placeholder input{
   height: 38px;
   border-left: 0px;
   border-right: 0px;
   border: 1px solid rgb(220, 218, 218);
   padding: 10px;
}
.placeholder{
    

}
   
 .search-place{


 }  

    

.search-btn{
    background-color: rgb(58, 92, 227);
    color:white;
    height: 22px;
    padding:8px;
    border-radius: 0  10px 10px 0;
}
.filters-bar{
    margin-top: 20px;

}

.cost{
    display: flex;
    border: 1px solid;
    border-left: 0px;
   border-color: rgb(220, 215, 215);
   height: 40px;
   width: 190px;
   align-items: center;
   gap: 20px;
   border-radius: 20px;
}
.filters-icon{
    display: flex;
    background-color: rgb(171, 217, 233);
    height:42px ;
    width: 42px;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}
.filters{
    display: flex;
    gap: 20px;
}
.filters-text{
   display: flex;
   height: 38px;
   align-items: center;
}

.fa-info{
    display: flex;
    border: 1px rgb(193, 200, 207) solid;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    text-align: center;
    gap:5px;
    margin-top: 30px;
}
.info p{
    color: rgb(133, 135, 137);
}

.accomodations-details{
    display: flex;

}
.all-accomodations{
    width: 66%;
    background-color:rgb(243, 243, 243);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.show-more{
    padding-top: 20px;
    padding-bottom: 20px;
}
.most-popular{
    width: 34%;
    background-color:rgb(243, 243, 243);
    padding:15px;
    margin-top: 20px;
    border-radius: 15px;
    padding-bottom: 30px;
    
}
.most-popular-icon{
    display: flex;
    justify-content: space-between;

}
.all-accomodations-details img{
    width: 240px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
}
.all-accomodations-details{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   
}

.details-container{
    background-color:white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgb(226, 225, 225);


}

.details-text {
margin-left: 20px;
line-height: .3cm;
margin-bottom: 5px;


}
.most-popular-details{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap:30px;
    

}
.popular-details-container img{
    width:150px;
    height: 155px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 2px;
    margin-left: 2px;

}
.popular-details-container{
    display: flex;
    background-color:white;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgb(226, 225, 225);
}
.popular-details-text{
    margin-left: 10px;
    line-height: .7cm;
    
}

.activites-images img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    

  }
  
  .activites-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    margin-bottom: 80px;
    
  } 

  .activites-container{
    box-shadow: 0px 5px 5px 0px rgb(239, 238, 238);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  

#one{
    grid-row: 1/3;
    grid-row: 1 / 3;
    
}

#one img{
        
    height: 472px;

}

.text-container{

    margin-left: 20px;

}

#two{
  
}
#three{
    grid-column: 2/3;
    grid-row:2/3 ;
}
#three img{
   height: 183px;

}
#four {
    grid-row: 1/3;
    border-top-right-radius: 15px;
}

#four img {
    
    height: 475px;
}

#five{
    grid-column: 4/5;
    grid-row:1/2 ;
}
#six{
    grid-column: 4/5;
    grid-row:2/3 ;
} 

.footer{
    display: flex;
    justify-content: space-between;
    background-color:rgb(243, 243, 243);
    font-family: "poppins", sans-serif;
    margin-right: 200px;
}
.footer p{
    color: rgb(146, 145, 145);
}
.footer-main{
    background-color:rgb(243, 243, 243);
    padding: 15px;

}



 @media only screen and (max-width: 400px){
    .nav-flex{

    }
    .nav-flex a:hover{
        border-bottom: 2px solid blue;
        color: blue;
        padding-top: 1px;
        border-top: 2px white solid;
    }


    }








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .navbar{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin-bottom: 30px;
      
       
    };
    
    .nav-flex{

    }
    
    .filters {
        width: 100%;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;

    }
    .accomodations-details{
        display: flex;
        flex-direction:column-reverse;
        flex-wrap: wrap;
    }
    .all-accomodations{
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .all-accomodations-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

    .most-popular{
        width: 100%;
        
    }


    .most-popular-details img{
        width:150px;
        height: 155px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: 2px;
        margin-left: 2px;
        
    }
    

.footer{
    display: flex;
    flex-direction: column;
}

.activites-images {
   display: flex;
   flex-direction: column-reverse;


}

  }


  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 769px) and ( max-width: 1200px) {
    /* .body {background: green;} */

    .accomodations-details{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        flex-direction: column;


    }
    .all-accomodations{
        width: 100%;
        align-items: center;
        justify-content: center;
      

    }
    .all-accomodations-details{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        
     }

    .most-popular{
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        
    }
    .most-popular-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    .most-popular-details img{
        width:150px;
        height: 155px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: 2px;
        margin-left: 2px;
        
    }


    
 
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 800px) and ( min-width: 1000px) {

    .all-accomodations-details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
     }
    
    

}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
    
  }